<%- include("../partials/header") %>
    


<div class="container" style="margin-top: 1rem;">
    <h1  class="display-3 " style="text-align: center; margin-top: 2rem; margin-bottom: 10px;font-size: 3rem;">Edit Comments</h1>
    
    <div class="row">
        <div style="width: 40%;margin: 0 auto; ">
        <form action="/campgrounds/<%=campground%>/comments/<%=foundcomment._id%>?_method=PUT" method="POST">
            <div class="form-group">
        <input class="form-control" type="text" value="<%=foundcomment.text%>" name="comments[text]">
        </div>
       
        <div class="form-group">
            <button type="submit" type="button" class="btn btn-secondary btn-lg btn-block">SUBMIT!!</button>
        </div>
    
</form>
 <a href="/campgrounds">Back!</a>
 </div>
 </div>
  </div>      

  
<%- include("../partials/footer") %>
