<%- include("../partials/header") %>


<div class="container">
<div class="jumbotron container">
      <h1 class="display-4">Welcome To Campgrounds</h1>
        <p class="lead"><em>"It always rains on tents. Rainstorms will travel thousands of miles, against prevailing winds for the opportunity to rain on a tent"</em></p>
        <footer style="text-align: right; ;" >— <em><strong>Dave Barry</strong></em></footer>
        <hr class="my-4">
         <a class="btn btn-dark btn-md " href="/campgrounds/new" role="button">Add New Campgrounds</a>
</div>
<div class="row">
<% camps.forEach(function(camp){ %>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card text-white bg-dark  mb-1" style="margin-top:10px;">
<img src="<%=camp.image%>" alt="" height="100%" width="100%" ">
<div class="card-body">
    <p class="card-text"><strong><%=camp.name%></strong></p>
    <a href="/campgrounds/<%=camp._id%>" class="btn btn-outline-light btn-sm">Show More</a>
  </div>
</div>
</div>
<%})%>
</div>  
</div>


<%- include("../partials/footer") %>